<template>
    <div class="main-nav">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" v-on:click="toggleCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ASP.NET Core with Vue.js 2</a>
            </div>
            <div class="clearfix"></div>
            <transition name="slide">
                <div class="navbar-collapse collapse in" v-show="!collapsed">
                    <ul class="nav navbar-nav">
                        <li v-for="route in routes">
                            <!-- TODO: highlight active link -->
                            <router-link :to="route.path">
                                <span :class="route.style"></span> {{ route.display }}
                            </router-link>
                        </li>
                    </ul>
                </div>
            </transition>
            <div v-show="isAuthenticated">
                <a href="/AzureAD/Account/SignOut" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Sign out</a>
                <!--<a href="/AzureAD/Account/SignIn" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Sign in</a>-->
            </div>
        </div>
    </div>
</template>

<script>
import { routes } from '../routes'

    export default {
        data() {
            return {
                routes,
                collapsed: true,
                isAuthenticated: false,
            }
        },
        methods: {
            toggleCollapsed: function (event) {
                this.collapsed = !this.collapsed;
            }
        },

        async created() {
            try {
                let response = this.$http.get('/api/Account/IsAuthenticated');
                this.isAuthenticated = response;
            } catch (error) {
                console.log(error)
            }
        }
    }
</script>

<style>
.slide-enter-active, .slide-leave-active {
  transition: max-height .35s
}
.slide-enter, .slide-leave-to {
  max-height: 0px;
}

.slide-enter-to, .slide-leave {
  max-height: 20em;
}
</style>
