<template>
    <div>
        <h1>Todo List</h1>
        <form id="form_addNewItem">
            <div class="row">
                <div class="col-xs-4">
                    <input type="hidden" name="id" />
                    <input class="form-control" v-model="m_title" type="text" name="title" v-on:keydown.enter="AddItem" />
                </div>
                <div class="col-xs-2">                    
                    <button class="btn btn-primary" id="btnAddNew"  v-on:click="AddItem">Add</button>
                </div>
            </div>
        </form>
        <table class="table table-striped table-responsive" v-if="todos">
            <thead>
                <tr>
                    <th>&#x2714;</th>                    
                    <th>Item</th>
                    <th>Created Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="todo in todos">
                    <td>
                        <input type="checkbox" v-on:click="MarkDoneToggle" v-bind:item-id="todo.id" v-model="todo.isDone" />
                    </td>    
                    <td v-bind:class="{ 'bg-success': todo.isDone }">{{ todo.title }}</td>
                    <td><span><timeago :since="todo.createdDate" :auto-update="60"></timeago></span></td>
                    <td>                  
                        <button v-on:click="DeleteItem" v-bind:item-id="todo.id" type="button" class="btn btn-danger">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</template>

<script>
    import Vue from 'vue';
    import JQuery from 'jquery';

    import VueTimeago from 'vue-timeago'

    Vue.use(VueTimeago, {
        name: 'Timeago', // Component name, `Timeago` by default
        locale: undefined, // Default locale
        locales: {
            'zh-CN': require('date-fns/locale/zh_cn'),
            'ja': require('date-fns/locale/ja'),
        }
    })
  
    let $ = JQuery;
    window.$ = $;
    function objectifyForm(formArray) {//serialize data function

        var returnArray = {};
        for (var i = 0; i < formArray.length; i++) {
            returnArray[formArray[i]['name']] = formArray[i]['value'];
        }
        return returnArray;
    }

    export default {       
       
    data() {
        return {
            todos: null,
            m_title: null            
        }  
    
    },
       
    methods: {            

        AddItem: function (event) {    
                if (event) event.preventDefault();              
                let formContents = objectifyForm($("#form_addNewItem").serializeArray());       
                this.$http.post('/api/Todo/AddItem', formContents).then((response, status, request) => {
                                
                    this.todos.unshift(response.data);
                    this.m_title = null;
                }, function() {
                    console.log('failed');
            });
        },

        DeleteItem: function (event) {        

            if (event) event.preventDefault();
            let formContents = { "Id": event.target.getAttribute("item-id") };
            this.$http.post('/api/Todo/DeleteItem', formContents).then((response, status, request) => {
                this.todos = response.data;
                
            }, function () {
                console.log('failed');
            });
        },

        MarkDoneToggle: function (event) {
            //if (e.target.checked) {
            //    alert(e.target.value);
                
            //}
            let formContents = { "Id": event.target.getAttribute("item-id") };
            this.$http.post('/api/Todo/MarkDone', formContents).then((response, status, request) => {
                this.todos = response.data;

            }, function () {
                console.log('failed');
            });
        },
        
    },

    async created() {
    // ES2017 async/await syntax via babel-plugin-transform-async-to-generator
    // TypeScript can also transpile async/await down to ES5
    try {
        let response = await this.$http.get('/api/Todo/GetAllItems')    
        this.todos = response.data;
    } catch (error) {
    console.log(error)
    }
    // Old promise-based approach
    //this.$http
    //    .get('/api/SampleData/WeatherForecasts')
    //    .then(response => {
    //        console.log(response.data)
    //        this.forecasts = response.data
    //    })
    //    .catch((error) => console.log(error))*/
    }
    
    }
</script>

<style>
</style>
